<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mappers.user">

	<!-- 회원가입 -->
	<insert id="join" parameterType="com.board.domain.UserVO">
	INSERT INTO BBS_USER(USERID, USERPASS, USERNAME, USEREMAIL)
	VALUES (#{userID}, #{userPass}, #{userName}, #{userEmail})
	</insert>

	<!-- 로그인 -->
	<select id="login" resultType="com.board.domain.UserVO">
	SELECT USERID, USERPASS, USERNAME, USEREMAIL FROM BBS_USER
	WHERE USERID = #{userID}
	</select>

</mapper>